<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta Author="Haruki Tasaka">
    <title>words</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Word</th>
            <th>Meaning</th>
            <th>Example English Sentence</th>
            <th>Part of Speech</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
